# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Packt\Hands-On Artificial Intelligence for Search\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
